
<div class="flex px-10 m-auto justify-around bg-primary-dark">

  <app-back-button class="w-fit"></app-back-button>
  <h3 class="text m-auto text-center p-4">Course Catalog</h3>
  <a class="link w-fit focus:w-72 duration-500 transition-all">

    <input  type="search" name="catalog-search" id="catalog-search"
      class="peer bg-transparent shadow-none outline-none"
    >
    <fa-icon [icon]="faSearch"></fa-icon>
  </a>
</div>

<div class="grid w-auto h-auto bg-primary-dark" *ngFor="let course of courses">
  <app-course-view  [course]="course"></app-course-view>
</div>
