
<div class="w-1/2 m-auto bg-secondary rounded">
  <div class="bg-primary-dark pb-4 p-1">

    <app-back-button></app-back-button>
  </div>

  <h4 class="text p-10">Login</h4>
  <div class="row-auto">
    <form class="p-5 flex justify-center flex-col gap-10">
      <input class="input-field" id="username-field" placeholder="username" type="text">

      <input class="input-field" id="password-field" placeholder="password" type="password">

      <button class="login-sumbit" type="submit">Submit</button>
    </form>
  </div>
</div>
